{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'callsmanager/style.css' %}" type="text/css">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>

        <div id="sidebar">
            {% block sidebar %}
            {% if request.session.port_id is not None %}
                <ul>
                    <li><a href="/callsmanager">Changer de port</a></li>
                    <li><a href="/callsmanager/calls">{% trans "Calls" %}</a></li>
                </ul>
            {% endif %}
            {% endblock %}
            <a href="http://todo"> {% trans "TGU" %} </a>
        </div>

    <div id="header">
        <div id="logo">
        Tools4Ports
        </div>
        <div id="port-select">
        {% if request.session.port_id is not None %}
            port: {{ request.session.port_id }}
        {% endif %}
        </div>
        <div id="header-tools">
            FRA account 
        </div>

    </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>