{% extends "callsmanager/base.html" %}

{% block title %} Liste des Escales {% endblock %}

{% block content %}
    <a href="{% url 'callsmanager:call_edit' 0 %}">Ajouter une nouvelle escale</a> 

    {% if call_list %}
        <ul>
            {% for call in call_list %}
                <li><a href="{% url 'callsmanager:call_details' call.id %}">{{ call.num }}</a> <a href="{% url 'callsmanager:call_edit' call.id %}">Modifier</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No calls are available.</p>
    {% endif %}
{% endblock %}